t(val)
  unit(val / 18px, rem)

p(large, small)
  "calc(%s + (1rem - 16px) * (%s - %s) / (18 - 16))" % (unit(small, px) large small)

set-widths(widths)
  .c-tr
    min-width t(sum(widths))

  .c-td
    for i in range(1, length(widths))
      &:nth-child({i})
        flex-grow  widths[i - 1]
        flex-basis 0
        min-width  t(widths[i - 1])
